In [2]:
### Module 4 Exercise

In [5]:
1.# How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

1.0

song = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

song.count("row")

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [1]:
 """" I 
 name, color, animal

      P

      O

String Mary had a little lamb """

# prompt user for a name

name = input("Please enter a name: "  )

# prompt user for an animal

animal = input("Please enter an animal: "  )

# prompt user for a color

color = input("Please enter a color: "  )


# print name string

print(f"{name} had a little ")

# print animal string

print(f"{animal}, its fleece was ")

# print color string

print(f"{color}, as snow. ")


first_str = (f"{name} had a little")
second_str = (f"{animal}, its fleece was")
third_str = (f"{color} as snow ")

# print string concatenation

print(f"{first_str} {second_str} {third_str}and everywhere that {name} went the {animal} was sure to go. "  )

Please enter a name: mary
Please enter an animal: lamb
Please enter a color: white
mary had a little
lamb, its fleece was
white, as snow.
mary had a little lamb, its fleece was white as snow and everywhere that mary went the lamb was sure to go.

3. Print 3.14159 in a scientific number notation

In [10]:

num = 3.14159
print(f"{num:.6e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [12]:
print(f"{3.1559:.3e}")

3.156e+00

5. Print 1589.92341 in a scientific number notation to the power of 3

In [11]:
print(f"{1589.92341:.6e}")

1.589923e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [103]:
# use floor division 

# 39 binary is 100111

bin(39)

'0b100111'

In [102]:
int(0b100111)

39

In [101]:
39 // 2

19

In [100]:
bin(19)

'0b10011'

In [99]:
int(0b10011)

19

In [98]:
39 % 2

1

In [97]:
bin(1)

'0b1'

In [96]:
int(0b1)

1

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [112]:
oct(39)

'0o47'

In [113]:
39 // 2

19

In [114]:
39 % 2

1

In [115]:

int(0o47)

39

In [116]:
int(19)

19

In [86]:
oct(1)

'0o1'

In [85]:
int(0o1)

1

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [104]:
hex(39)

'0x27'

In [109]:
hex(39//2)

'0x13'

In [107]:
hex(39 % 2)

'0x1'

In [110]:
int(0x13)

19

In [111]:
int(0x1)

1

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [57]:
# enter an amount

a_mount = float(input("Please enter an amount:$"))

# enter a tax rate percentage

tax_percent = float(input("Please enter the tax amount:"))

# display the amount

print(a_mount)


# display the tax rate percentage



print(tax_percent/100.00 )


# calculate the tax amount


tax_amount = a_mount * tax_percent/100.00




# calculate the total amount

total_amount = a_mount + tax_amount

# text_string 

text_string =  'The total is' 


# a single formatted print statement for the above

print(f" {text_string} {total_amount}.")

Please enter an amount:$10.00
Please enter the tax amount:6
10.0
0.06
 The total is 10.6.

0.6